<div class="row align-items-md-stretch py-4">

    <div class="col-md-8">
        
        
        <h3>Felsefe</h3>
            
                {% for post in site.categories.Philosophy %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
            
        <h3>Sanat</h3>
            
                {% for post in site.categories.Art %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
            
        <h3>Edebiyat</h3>
            
                {% for post in site.categories.Literature %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
            
        <h3>Teknoloji</h3>
        
        {% for post in site.categories.Tech %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
        
            
    </div>
    
  
    
    
    
    <div class="col-md-4">
      
      <div class="p-3 mb-3 text-white bg-dark rounded-3" style="background-image: url('https://raw.githubusercontent.com/derinmavi183/derinmavi.github.io/master/images/thumb1.jpg'); background-repeat: no-repeat; background-size: cover;">
            <h2>Bu Blogun Hikayesi</h2>
            <p style="font-size: 13px;">Derin Mavi'nin ismi Deep Blue'dan geliyor. Bugün bir müzede sergilenen Deep Blue, IBM tarafından geliştirilmiş satranç oynayan bir bilgisayardı. Rus satranç...</p>
              <button class="btn btn-outline-light" type="button">Devamını Oku</button>
          </div>
      
           <div class="p-3 mb-3 bg-light border rounded-3">
            <h2>Havadan Sudan</h2>
            <p style="font-size: 13px;">Pek çok düşünürün aforizmalara yönelmesine şaşmamalı. Kimi zaman daha şiirsel kısa sembolik satırlar pek çok şeyi özetleyebiliyor.</p>
            <a class="btn btn-outline-secondary" href="https://derinmavi.io/kisa-kisa">Devamını Oku</a>
          </div>
      
      
      <ul>
        <li>Bu Blog Hakkında</li>
        <li>Lisans ve Kullanım Koşulları</li>
        <li>Arşiv</li>
        
      </ul>
    </div>
    
  </div>
  
