<div class="row align-items-md-stretch py-4">

    <div class="col-md-4">
        <div>
     <div class="mb-4">Derinmavi</div>
    <div class="mb-4">Gezegendeki olası hayatlardan ☁️ birinin bir tarifnamesi...</div>
        
        <div>
      <ul>
        <li>Bu Blog Hakkında</li>
        <li>Lisans</li>
        <li>Arşiv</li>
        
      </ul>
            
            </div>
        </div>
    </div>
    
    <div class="col-md-8">

        <div class="mb-4">
           <h3>Felsefe</h3>
           <div class="ps-4">
              {% for post in site.categories.Philosophy %}
              <div><a class="text-decoration-none text-muted" href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a></div>
              {% endfor %}
           </div>
        </div>
        
        <div class="mb-4">
           <h3>Sanat</h3>
           <div class="ps-4">
              {% for post in site.categories.Art %}
              <div><a class="text-decoration-none text-muted" href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a></div>
              {% endfor %}
           </div>
        </div>
        
        
        <div class="mb-4">
           <h3>Edebiyat</h3>
           <div class="ps-4">
              {% for post in site.categories.Literature %}
              <div><a class="text-decoration-none text-muted" href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a></div>
              {% endfor %}
           </div>
        </div>
        
        
        <div class="mb-4">
           <h3>Teknoloji</h3>
           <div class="ps-4">
              {% for post in site.categories.Tech %}
              <div><a class="text-decoration-none text-muted" href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a></div>
              {% endfor %}
           </div>
        </div>
            
       
            
    </div>
    
  
    
  </div>
  
